<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Boulange</title>
    <link href="/styles.css" rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css?family=Solway:400,800&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <main id="app">
      <h1>Pain au levain</h1>
      <div class="content">
        <!-- gutter wrapper -->
        <div>
          <section class="recipe">
            <h2>Recette</h2>
            <p>À ajuster selon la saison, la température, la farine etc.</p>
            <form id="form">
              <fieldset>
                <legend>Pain</legend>
                <div class="fieldset--fields">
                  <label for="bread-flour">Farine</label>
                  <div>
                    <input
                      id="bread-flour"
                      type="number"
                      v-model="flour"
                    /><span>g</span>
                  </div>
                  <label for="bread-hydration">Taux d'hydratation</label>
                  <div>
                    <input
                      id="bread-hydration"
                      type="number"
                      v-model="rates.bread.hydration"
                    /><span>%</span>
                  </div>
                  <div>
                    <label for="bread-starter-rate">Taux d'ensemencement</label>
                    <small>(30% en hiver, 15% en été)</small>
                  </div>
                  <div>
                    <input
                      id="bread-starter-rate"
                      type="number"
                      v-model="rates.bread.starter"
                    /><span>%</span>
                  </div>
                  <label for="bread-salt-rate">Sel</label>
                  <div>
                    <input
                      id="bread-salt-rate"
                      type="number"
                      v-model="rates.bread.salt"
                    /><span>%</span>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Levain tout point</legend>
                <div class="fieldset--fields">
                  <label for="yeast3-hydration">Taux d'hydratation</label>
                  <div>
                    <input
                      id="yeast3-hydration"
                      type="number"
                      value="80"
                    /><span>%</span>
                  </div>
                  <label for="yeast3-sowing">Taux d'ensemencement</label>
                  <div>
                    <input id="yeast3-sowing" type="number" value="10" /><span
                      >%</span
                    >
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Levain jeune</legend>
                <div class="fieldset--fields">
                  <label for="yeast2-hydration">Taux d'hydratation</label>
                  <div>
                    <input
                      id="yeast2-hydration"
                      type="number"
                      value="100"
                    /><span>%</span>
                  </div>
                  <label for="yeast2-sowing">Taux d'ensemencement</label>
                  <div>
                    <input id="yeast2-sowing" type="number" value="100" /><span
                      >%</span
                    >
                  </div>
                </div>
              </fieldset>
            </form>
          </section>
          <section class="steps">
            <h2>Étapes</h2>
            <section>
              <div>
                Poids total de farine nécessaire : {{ Math.round(flour) +
                Math.round(result.levainJeune.flour) +
                Math.round(result.levainToutPoint.flour) }}g (+ de quoi fariner
                le plan de travail et le pain)
              </div>
              <div>Poids final du pain : ~{{ Math.round(flour * 1.7) }}g</div>
            </section>
            <section>
              <h3>Levain jeune</h3>
              <div>
                Levain chef: {{ Math.round(result.levainJeune.yeast) }}g
              </div>
              <div>Farine: {{ Math.round(result.levainJeune.flour) }}g</div>
              <div>Eau: {{ Math.round(result.levainJeune.water) }}g</div>
              <div>Levée: 2-4h</div>
            </section>
            <section>
              <h3>Levain tout point</h3>
              <div>
                Levain jeune: {{ Math.round(result.levainToutPoint.yeast) }}g
              </div>
              <div>Farine: {{ Math.round(result.levainToutPoint.flour) }}g</div>
              <div>Eau: {{ Math.round(result.levainToutPoint.water) }}g</div>
              <div>Levée: 12-15h</div>
              <div>
                Total: {{ Math.round(result.levainToutPoint.total) -50 }}g pour
                le pain et 50g comme nouveau levain chef
              </div>
            </section>
            <section>
              <h3>Pain</h3>
              <div>Farine: {{ Math.round(flour) }}g</div>
              <div>
                Levain tout point: {{ Math.round(result.bread.yeast) - 50 }}g
              </div>
              <div>Eau: {{ Math.round(result.bread.water) }}g</div>
              <div>Sel: {{ Math.round(result.bread.salt) }}g</div>
              <div>Première levée: 3h (donner un tour toutes les 45min)</div>
              <div>Façonnage + seconde levée: 1h.</div>
            </section>
          </section>
        </div>
      </div>
    </main>
    <script src="/boulange.js" async defer></script>
  </body>
</html>
