<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Boulange</title>
    <link href="/styles.css" rel="stylesheet" />
    <script src="/vue@2.6.0.js"></script>
  </head>
  <body>
    <main id="app">
      <h1>Pain au levain</h1>
      <div class="content">
        <!-- gutter wrapper -->
        <div>
          <section class="recipe">
            <h2>Recette</h2>
            <p>À ajuster selon la saison, la température, la farine etc.</p>
            <form id="form">
              <fieldset>
                <legend>Pain</legend>
                <div class="fieldset--fields">
                  <label for="bread-flour">Farine</label>
                  <div class="nowrap">
                    <input
                      id="bread-flour"
                      type="number"
                      v-model="flour"
                    /><span>g</span>
                  </div>
                  <label for="bread-hydration">Taux d'hydratation</label>
                  <div class="nowrap">
                    <input
                      id="bread-hydration"
                      type="number"
                      v-model="rates.bread.hydration"
                    /><span>%</span>
                  </div>
                  <div>
                    <label for="bread-starter-rate">Taux d'ensemencement</label>
                    <small>(30% en hiver, 15% en été)</small>
                  </div>
                  <div class="nowrap">
                    <input
                      id="bread-starter-rate"
                      type="number"
                      v-model="rates.bread.starter"
                    /><span>%</span>
                  </div>
                  <label for="bread-salt-rate">Sel</label>
                  <div class="nowrap">
                    <input
                      id="bread-salt-rate"
                      type="number"
                      v-model="rates.bread.salt"
                    /><span>%</span>
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Levain tout point</legend>
                <div class="fieldset--fields">
                  <label for="yeast3-hydration">Taux d'hydratation</label>
                  <div class="nowrap">
                    <input
                      id="yeast3-hydration"
                      type="number"
                      value="80"
                    /><span>%</span>
                  </div>
                  <label for="yeast3-sowing">Taux d'ensemencement</label>
                  <div class="nowrap">
                    <input id="yeast3-sowing" type="number" value="10" /><span
                      >%</span
                    >
                  </div>
                </div>
              </fieldset>
              <fieldset>
                <legend>Levain jeune</legend>
                <div class="fieldset--fields">
                  <label for="yeast2-hydration">Taux d'hydratation</label>
                  <div class="nowrap">
                    <input
                      id="yeast2-hydration"
                      type="number"
                      value="100"
                    /><span>%</span>
                  </div>
                  <label for="yeast2-sowing">Taux d'ensemencement</label>
                  <div class="nowrap">
                    <input id="yeast2-sowing" type="number" value="100" /><span
                      >%</span
                    >
                  </div>
                </div>
              </fieldset>
            </form>
          </section>
          <section class="steps">
            <h2>Étapes</h2>
            <section>
              <div>
                Poids total de farine nécessaire : {{ Math.round(flour) +
                Math.round(result.levainJeune.flour) +
                Math.round(result.levainToutPoint.flour) }}g (+ de quoi fariner
                le plan de travail et le pain)
              </div>
              <div>Poids final du pain : ~{{ Math.round(flour * 1.7) }}g</div>
            </section>
            <section>
              <h3>1. Le levain jeune</h3>
              <div>
                {{ Math.round(result.levainJeune.yeast) }}g de levain chef
              </div>
              <div>
                {{ Math.round(result.levainJeune.flour) }}g de farine
              </div>
              <div>{{ Math.round(result.levainJeune.water) }}g d'eau</div>
              <div>Levée: 2-4h</div>
            </section>
            <section>
              <h3>2. Le levain tout point</h3>
              <div>
                {{ Math.round(result.levainToutPoint.yeast) }}g de levain jeune
              </div>
              <div>
                {{ Math.round(result.levainToutPoint.flour) }}g de farine
              </div>
              <div>{{ Math.round(result.levainToutPoint.water) }}g d'eau</div>
              <div>Levée: 12-15h</div>
              <div>
                Total: {{ Math.round(result.levainToutPoint.total) -50 }}g pour
                le pain et 50g comme nouveau levain chef
              </div>
            </section>
            <section>
              <h3>3. Le pain</h3>
              <div>{{ Math.round(flour) }}g de farine</div>
              <div>
                {{ Math.round(result.bread.yeast) - 50 }}g de levain tout point
              </div>
              <div>{{ Math.round(result.bread.water) }}g d'eau</div>
              <div>{{ Math.round(result.bread.salt) }}g de sel</div>
              <div>
                Température de l'eau = 68°C - (T°<sub>air</sub> -
                T°<sub>farine</sub>)
              </div>
              <div>Pointage: 3h (donner un tour toutes les 45min)</div>
              <div>Apprêt: 1h.</div>
            </section>
          </section>
        </div>
      </div>
    </main>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("service-worker.js");
      }
    </script>
    <script src="/boulange.js" async defer></script>
  </body>
</html>
